
body {
   min-height: 400px;
  margin-bottom:70px;
   clear: both;
   margin-top: -20px
}

.homepage{
  background-image: url("./teacup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
   margin-top: -24px;
    height: 100vh;
   }

.login, #google{
  margin-top:12px;
  margin-left:100px;

}
.login{
  margin-left:120px;
}
.productinfo{
  color :black;
  font-family: cursive;
  font-size: 1.5em;
  margin-left:45px;
}

.addproduct{
margin-left: 60px;
}
.singleproduct{
padding: 30px;
text-align: center;
}
#teacup{
color:pink;
font-size:1.5em;
}

#homepagetext{
top:140px;
width:440px;
padding:50px;
line-height: 250%;
font-family: cursive;
font-size: 1.5em;
}
/*ul.nav.navbar-nav{
margin-left: 100px;
}*/

.users, table, .products, .productsheader{
margin-top:50px;
}

#orders{
  padding-bottom: 28px;
}
.productsheader{
text-align: center;
}
.productsheader:hover{
cursor: pointer;
}

#prodimg{
margin-top: 40px;
}
#loginform{
text-align: center;
margin-top:200px;
}
.updateForm input[type=submit]{
background:#fb044a;
color:#fff;
font-weight:700;

}
.rmedit{
margin-left: 60px;
}
.add.btn.btn-default{
background-color: pink;
border: 0px;
}
/*.navbar{
background-color: #f5f5f5;
border: 2px solid black;


}*/
.link {
color:#333
}
@media screen and (max-width: 668px) {
.products{
margin-top:250px;
text-align: center;
      }
      #prodimg {
    width: 240px;
    /* height: 140px; */
}
}

@media screen and (max-width: 668px) {
.productsheader{

font-size:0.8em;
      }
}
@media screen and (max-width: 668px) {
.button.add.btn.btn-default{
margin-left:10px;
font-size:0.8em;
max-width: 50px;

}
}
@media screen and (max-width: 420px) {
.row{
margin-top:-50

}
}
img#cartproducts {
    margin-left: 50px;
}

.products{
display: flex;
flex-flow: column wrap;
background-color: lavender;
}
#prodimg{

  width: 250px;
  height: 230px;
}

 /*.prodcuts{
  display:flex;
  flex-direction: column;
  align-items: center;
}*/
@media screen and (max-width: 800px) {
.input-group .form-control, .input-group-addon, .input-group-btn
{
  display: block important!
}
}
@media screen and (max-width: 668px) {
  .prodcuts{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap
}
.navbar-form{
  display: block
}

  /*#prodimg{

    width:200px;
    height: 140px;

  }*/
  .productsheader{
    margin-top: 40;
    font-size: 2.5em;
  }
  .input-group{
    padding-left: 22px;
    padding-right: 24px
  }
}

.btn-danger{
  margin-top:10px;
}

li.whoami-user-name{
  padding:13px;
}

.fb{
  background-image: url('./fb.png');
  background-repeat: no-repeat;
  background-size:cover;
    /*width: 205px;
    height: 100px;
    border: none;*/
    background-color: white;

}


.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  margin-top:-70px;
  height: 500px;  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

/*.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}*/

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.fb{
    /* left: 150px; */
    bottom: 2;
    background-color: lightgray;
    background-color: transparent;
    /* bottom: 100px; */
    bottom: 120px;
    width: 600px;


font-size:0.8em;

}
.search-box, #total {
    margin-top: 50px;
}
li.usernamelogout, button.usernamelogout {
    margin-left: 14px;
}
 button.usernamelogout{
  color: white;
    border: 0;
    background: crimson;
 }
 #loginlink{
   color:black;
 }
 form.form-signin {
    margin-top: -269px;
}
.container.prodcuts {
    margin-top: -42px;
}
nav {
  margin-top: -20px;
}

#singleproducts, #cartproducts{
  width: 50%;
  height: 40%;
    }

     #cartproducts{
  width: 70%;
  height: auto;
    }
input {
  border: solid black 1px;
}
button.fblogin.btn.btn-primary {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    font-size: 18px;
    padding: 10px;
}

#errormessage{
  color: crimson;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  padding:5px;
}

button a:hover {
  background-color: transparent;
  color:white;
   text-decoration: none;
}
button a{
  color:white
}

#resetmsg {
    text-align: center;
    margin: -t;
    margin-top: 108px;
    font-family: helvetica;
    color: pink;
}

#emailnotify{
  padding: 10px;
  color:crimson;
}

/*input#searchsubmit {
    background: pink;
    border-radius: 2px;
    border: 0px;
    height: 28px;
    margin-left: 9px;
}*/

/*input#search {
    border-radius: 4px;
    height: 27px;

}*/

form#searchproducts {
    text-align: center;
    padding: 22px;
}




@keyframes slideInFromLeft
   {
     0% { transform: translateY(-100%) }
     100% {
    transform: translateY(0);
  }

     }

div#names  {
    padding: 2px;
    text-transform: capitalize;
    font-weight: 400;
    /*background: lightgray;*/
    animation: 1s ease-out 0s 1 slideInFromLeft;

}


div#names {
 cursor: pointer;
}
div#names:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;

    /*background: black;*/
}

form.navbar-form{
  margin-top: 7px;
}

.removebtn{
 margin-top: 10px;
  margin-left: 4px

  }

.removebtn:hover{
 cursor: pointer

  }
.updatebtn, .removebtn{
    margin-top: 10px;
  /*margin-left: 30px;*/


}
input.btn.btn-default.updatebtn{
   border: 0px;
}
/*.removebtn {
    margin-left: 39px;
}*/
.updateinput{
   margin-top: 10px;
}

.stars{
  display: flex;
  justify-content: center;
  margin-left: 33px;
}

.ratestars{
   display: flex;
  justify-content: center;
}
.items {
  text-align: center
}
@media screen and (max-width: 1000px) {
.navbar-collapse.collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.navbar-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    /* margin-top: 8px; */
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

}

.searchbutton {
  height: 23.5
}
span#names {
    margin-left: -169px;
}

input.icon.search-bar-submit {
    height: 24px;
}

@media screen and (max-width: 500px) {
  .col-md-7 {
    margin-top: 122px;
}

}

.orderflex {
    display: flex;
    justify-content: space-around;
    background-color: #2d2d2d;
    color: ghostwhite;
    font-family: avenir-book;
    height: 97px;
    align-items: center;
}

#orderimage {
    vertical-align: middle;
    max-width: 100%;
    width: 32%;
    height: auto;
    align-items: center;

}
.address, #orderitems{
  display: inline-block;
}

.productdetails {
    display: flex;
    align-self: center;

    align-items: center;
}
#itemquantity, #itemname, .address {
  font-family: avenir-book;
   padding: 1px;
}

.productdetails2 {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding-top: 30px;
}
.address{
  padding-left: 15px
}

.userreviewcontent{
  display: inline-block;
  font-family: avenir-book
}

span.userreviewcontent {
    padding-left: 10px;
}

.userstars {
    padding-left: 7px;
    position: relative;
    top: 2px;
}
.reviewcontent{
  font-family: avenir-book
}
.singleproductfont, .tablefont, .cart{
  font-family: avenir-book
}
.singleproductinfo{
  font-size: 1.4em;
}
#textarea{
  border: 2px #ccc solid
}

.formgroup {
    display: inline-block;
    margin-left: 10px;
}
#names {
 margin-left: 10px;

}

/*#reviewcontent{
  width: 300px
}*/

.reviewedit{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/*#reviewdate{
  width: 300px;
}*/

.nav.navbar.navbar-default{
  width: 100%;
}

.total{
  margin-top: -28px;
}



#reviewpeoductname{
  text-align: center;
}

#reviewpeoductimg{
  width: 200px;
  height: auto;
}

tr {
    text-align: center;
}
#main, #status, body{
  width: 100%
}









@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
  input.btn.btn-default.updatebtn {
    position: relative;
    top: 38px;
    right: 52px;
    border: 0px;
}
.removebtn{
   position: relative;

    left: -35px;
    top: -10px;
    display: inline-block;
}
	.td:nth-of-type(1):before { content: "Item Number "; }
	.td:nth-of-type(2):before { content: "Name"; }
	.td:nth-of-type(3):before { content: "Price"; }
	.td:nth-of-type(4):before { content: "Quantity"; }
    .td:nth-of-type(5):before { content: "update"; }

	.td:nth-of-type(6):before { content: "Total Per Item"; }
	.td:nth-of-type(7):before { content: "Item"; }




  	td:nth-of-type(1):before { content: "Date"; }
	td:nth-of-type(2):before { content: "Product Name"; }
  	td:nth-of-type(3):before { content: "Product"; }

	td:nth-of-type(4):before { content: "Content"; }
	td:nth-of-type(5):before { content: "Star"; }
    td:nth-of-type(6):before { content: "Edit"; }

input.updateinput.cartupdate{
  width: 50px;
  position: relative;
  left: 40px
}
button.btn.btn-default.updatebtn{
  border:0px;
  position: relative;
  top: 36px
}
form.updateform{
  position: relative;
  top: -10px;
}
.popover{
  position: absolute;
  top:0;
  left:0;
}
td#date {
    padding-left: 91px;
}
textarea {
  border: 2px #ccc solid;
  outline: none;
}
input.btn.btn-default.updatebtn {
    position: relative;
    top: 38px;
    /* right: 52px; */
    border: 0px;
    left: 26px;
}
}
.reviewtable {
    width: 90% !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin: center;
    margin: auto !important;
}