
body {
   min-height: 400px;
  margin-bottom:70px;
   clear: both;
}

.homepage{
  background-image: url("./teacup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
   margin: 0;
    height: 900px;
   }

.login, #google{
  margin-top:12px;
  margin-left:100px;

}
.login{
  margin-left:120px;
}
.productinfo{
  color :black;
  font-family: cursive;
  font-size: 1.5em;
  margin-left:45px;
}

.addproduct{
margin-left: 60px;
}
.singleproduct{
padding: 30px;
text-align: center;
}
#teacup{
color:pink;
font-size:1.5em;
}

#homepagetext{
top:140px;
width:440px;
padding:50px;
line-height: 250%;
font-family: cursive;
font-size: 1.5em;
}
ul.nav.navbar-nav{
margin-left: 100px;
}

.users, table, .singleproduct, #orders, .products, .header{
margin-top:50px;
}
.header{
text-align: center;
}
#prodimg{
margin-top: 40px;
}
#loginform{
text-align: center;
margin-top:200px;
}
.updateForm input[type=submit]{
background:#fb044a;
color:#fff;
font-weight:700;

}
.rmedit{
margin-left: 60px;
}
.add.btn.btn-default{
background-color: pink;
border: 0px;
}
.navbar{
background-color: #f5f5f5;
border: 2px solid black;


}
.link {
color:#333
}
@media screen and (max-width: 668px) {
.products{
margin-top:250px;
text-align: center;
      }
}

@media screen and (max-width: 668px) {
.header{
margin-top:140px;
font-size:0.8em;
      }
}
@media screen and (max-width: 668px) {
.button.add.btn.btn-default{
margin-left:10px;
font-size:0.8em;
max-width: 50px;

}
}


.products{
display: flex;
flex-flow: column wrap;
background-color: lavender;
}
#prodimg{

  width: 250px;
  height: 230px;
}

@media screen and (max-width: 668px) {
#prodimg{
width:100px;
height: 70px;

}
}

.btn-danger{
  margin-top:10px;
}

li.whoami-user-name{
  padding:13px;
}

.fb{
  background-image: url('./fb.png');
  background-repeat: no-repeat;

    width: 205px;
    height: 100px;
    border: none;
    background-color: white;

}


.wrapper {
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
  margin-top:-70px;
  height: 500px;  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.fb{
    /* left: 150px; */
    bottom: 2;
    background-color: lightgray;
    background-color: transparent;
    /* bottom: 100px; */
    bottom: 120px;
    width: 600px;


font-size:0.8em;

}
